*.bak

infrabel/*.bak
infrabel/gui/*.bak
infrabel/main/*.bak
infrabel/routes/*.bak
infrabel/tcp/*.bak
infrabel/udp/*.bak

modules/*.bak

provider/*.bak
provider/gui/*.bak
provider/main/*.bak

railway/*.bak

web/*.bak

TODO.txt